.data-impression {
    background-color: #53505070;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-impression>* {
    padding: 0.25rem 0;
}

.data-impression .data-impression-header {
    width: 100%;
    background-color: #ceedff;
    text-align: center;
}

.data-impression .data-impression-header p {
    margin: 0.25rem;
}

.data-impression .data-impression-thumbnail {
    width: 5rem;
}

.data-impression .parameter {
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.data-impression .parameter .parameter-label {
    text-align: center;
    flex-basis: 100%;
    font-size: x-small;
    color: #f8f4f4;
}